{% extends "base.html" %}
{% block title %}Поиск{% endblock %}
{% block content %}
<h2>Поиск книг</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.genre.label }} {{ form.genre(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.year.label }} {{ form.year(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.author.label }} {{ form.author(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}